/* style for the views */
.main-title {
  margin-bottom: 15px; 
  font-size: 1.3em; 
  font-weight: bold;
  margin-top: 10px;
}

.mini-title { 
  font-size: 1em; 
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text{
  line-height: 150%;
  margin-bottom: 30px;
}
