<!DOCTYPE html>

<link rel="stylesheet" href="/stylesheets/style.css" />
<html lan="en">
    <head>
        <title>Add Movie</title>
    </head>
    <body>
        <form method="POST" action="/movie/add">
        Name: <input type="text" name="name">
        <br>
        Category: <input type="text" name="category">
        <br>
        Place: <input type="text" name="place">

         <input type="submit" value="Submit" >
        </form>
    </body>
</html>