{{! view of the home page }}

{{! imports the css styles defined in the stylesheets folder }}
<link rel="stylesheet" href="/stylesheets/style.css" />

</div><div class="title">
  <h1>SLOW DOWN 4 STUDENTS</h1>
  <div class="body">
    Hello!
  </div>