<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/style.css" />
<html lan="en">

    <body>
        <div class="col-xs-6 col-sm-10 col-md-14 col-lg-14" style= "margin-top: 10px; margin-left: 15px;">
            <div class="main-title">
                Who are we?
            </div>     
            <div class="text">
                <p>SLOWDOWN4STUDENTS is a platform where students can offer and register for different activities to relax from uni.
                A student's life can sometimes be quite exhausting, so we want to encourage the other side of life... 
                It is like a constrast - black and white. And of course there are also different shades of grey. Uni and leisure time may mix up.
                Why not joining an activity with people you know from uni? </p>
                <p>Just sign up and login to join any activities you want! </p>
            </div>

            <div class="main-title">
                Who can create new activities?
            </div>     
            <div class="text">
                Normal users cannot offer activities. If you want to offer activities, contact us. We will then inform you about the further procedure.
            </div>

            <div class="main-title">
                Contact us
            </div>     
            <div class="text">
                You can email us at slowdown4students@gmail.com.
            </div>
        </div>
    </body>